<div class="card mb-2 shadow">
    <div class="card-body m-0 py-2 px-3 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb m-0">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a routerLink="/dashboard/inicio">INICIO</a></li>
                <li class="breadcrumb-item active" aria-current="page">MAQUINAS</li>
            </ol>
        </nav>
        <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="material-icons">
                data_object
            </span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">JSON DATA</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              {{dataSocket | json}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-start mb-5 align-items-stretch" >
        <div class="col-12 col-sm-6 col-xl-4 py-1 px-0 px-sm-1" >
            <app-card-sparkline 
                [titleCard]="'SEÑAL WI-FI'" 
                [subTitleCard]="'Calidad Señal'"
                [iconCard]="'podcasts'"
                [varCard]="'%'"
                [dataNew]="dataSocket.data.wifi"
                [color]="'#aaa'" 
                [dataObject]="dataSensores" 
                [variable]="'signal'"
            ></app-card-sparkline>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 py-1 px-0 px-sm-1" >
            <app-card-sparkline 
                [titleCard]="'BATERIA'" 
                [subTitleCard]="'Estado Actual'"
                [iconCard]="'battery_charging_full'"
                [varCard]="'volts'"
                [dataNew]="dataSocket.data.battery"
                [valueDanger]="5.2"
                [msgDanger]="'sobrecargada'"
                [valueWarning]="3.5"
                [msgWarning]="'descargandose'"
                [msgGood]="'capacidad optima'"
                [color]="'#aaa'" 
                [dataObject]="dataSensores" 
                [variable]="'battery'"
            ></app-card-sparkline>
        </div>
        <ng-container *ngFor="let sensor of orderSensors" [ngSwitch]="sensor.typeSensor">
            <ng-container *ngSwitchCase="'dp'">
                <div class="col-12 col-sm-6 col-xl-4 py-1 px-0 px-sm-1" >
                    <div class="h-100 row m-0 d-flex flex-column align-items-stretch justify-content-stretch" style="background-color: #fff;">
                        <div class="col-12 row p-0 m-0">
                            <div class="col-8 p-3">
                                <p class="lead">{{ sensor.nameDevice | uppercase}}</p>
                                <figure class="mt-0 p-0">
                                    <blockquote class="blockquote">
                                        <p><b class="lead pt-0 mb-0">{{ sensor.idDevice}}</b></p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        {{sensor.description}}<cite title="Source Title"></cite>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <span class="material-icons" style="font-size: 5em;color: rgb(180, 180, 187);">
                                    info
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'di'">
                <app-card-digital-input class="p-0 m-0" [title]="sensor.nameSensor" [data]="dataSocket.data?.[sensor.idSensor]"></app-card-digital-input>
            </ng-container>
            <ng-container *ngSwitchCase="'do'">
                <app-card-digital-output class="p-0 m-0" [title]="sensor.nameSensor" [data]="dataSocket.data?.[sensor.idSensor]" [idDevice]="'test'"></app-card-digital-output>
            </ng-container>
            <ng-container *ngSwitchCase="'ai'">
                <div class="col-12 col-sm-6 col-xl-8 py-1 px-0 px-sm-1" >
                    <div class="h-100 row m-0 d-flex flex-column align-items-stretch justify-content-stretch" style="background-color: #fff;">
                        <div class="col-12 row p-0 m-0">
                            <div class="col-12 p-3">
                                <p class="lead">SENSOR DE {{sensor.nameSensor | uppercase}} [{{sensor.variable}}]</p>
                                <figure class="mt-0 p-0">
                                    <app-one-line-chart [variableLineChart]="dataSocket.data?.[sensor.idSensor]" [dateInput]="dataSocket.date"></app-one-line-chart>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4 py-1 px-0 px-sm-1" >
                    <div class="h-100 row m-0 d-flex flex-column align-items-stretch justify-content-stretch" style="background-color: #fff;">
                        <div class="col-12 row p-0 m-0">
                            <div class="col- p-3">
                                <p class="lead">SENSOR DE {{sensor.nameSensor | uppercase}} [{{sensor.variable}}]</p>
                                <app-gauge-chart [valueData]="dataSocket.data?.[sensor.idSensor]" [nameVariable]="sensor.variable"></app-gauge-chart> 
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>