<nav class="py-2" style="background-color: #fff;">
    <div class="container-fluid px-3 px-md-4 py-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <!-- BOTON MENU LATERAL-->
               

                <!--LOGO PANTALLAS GRANDES-->
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/1.png" alt="" height="50" class="mx-3">   
                </div>
            </div>
           
        </div>
    </div>
</nav>
<div class="p-2 h-100">
    <style>
        
    
    </style>
    <div class="error-box" style="display: flex; justify-content:center; align-content:center;margin-top:8em;">
        <div class="error-body text-center ">
            <h1 class="error-title" style="font-size:10em;">404</h1>
            <h3 class="text-uppercase error-subtitle">OPS! PAGE NOT FOUND !</h3>
            <p class="text-muted mt-4 mb-4">LA PAGINA QUE SOLICITASTE NO EXISTE O NO CUENTAS CON LOS PERMISOS REQUERIDOS.</p>
            <a routerLink="/dashboard" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-white">VOLVER A CASA</a>
        </div>
    </div>
</div>
